<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="max-age=0, no-cache, no-store, must-revalidate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Patrik Huebner, www.patrik-huebner.com">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

    <style>
        html,
        body {
            background: #000;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }

        #preloader {
            width: 100%;
            height: 100%;
            background: #fff;
            top: 0;
            left: 0;
            position: absolute;
            z-index: 10000;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #preloader h2 {
            font-size: 36px;
        }

        #preloaderText {
            font-size: 12px;
        }
    </style>
</head>

<body>

    <!-- VERSION INFO -->
    <div id="preloader">
        <div id="preloadContainer">
            <h2>Interaktiver Zeitstrahl</h2>
            <p />
            <div id="preloaderText">
                Entwickelt im Rahmen der Veranstaltung "Einführung in die Kunst- und Kulturgeschichte<br />
                Digital Media and Experiment, WS/2020, Prof. Andreas Beaugrand
            </div>
        </div>
    </div>

    <!-- VERSION INFO -->
    <div id="versionInfo">
        <%= htmlWebpackPlugin.options.title %>, 2020 <a href="https://www.patrik-huebner.com" target="_blank">Patrik
                H&uuml;bner</a>, Matr.Nr.: 1249026<br />
            Digital Media and Experiment (DMX), FH Bielefeld<br />
            Version: <span id="hashValue"></span>
    </div>


    <!-- HORIZONTAL TIMELINE CONTAINER -->
    <div id="horizontalTimeline"></div>

    <!-- ZOOM CONTROL OVERLAY -->
    <div id="zoomControls">
        <div id="zoomIn"><img src="/assets/icons/search-plus.svg" alt="Zoom in" /></div>
        <div id="zoomOut"><img src="/assets/icons/search-minus.svg" alt="Zoom out" /></div>
    </div>

    <!-- UI: GROUP SEGMENTATION -->
    <div id="groupSegmentation">
        <h3>Gruppen-Segmentierung</h3>
        <div id="removeAllSelections">× Gesamte Auswahl entfernen</div>
        <span>Sie können die unten stehenden Gruppierungen durch ankreuzen aktivieren. Dies segmentiert die Einträge
            des Zeitstrahls in separate visuelle Bereiche.</span>
        <div id="groupSegmentationConatiner">
            <ul>
            </ul>
        </div>
    </div>


    <!-- NETWORK GRAPH -->
    <div id="networkContainer">
        <div id="networkGraph"></div>
        <div id="networkClose">×</div>

        <!-- <h1 id="selectedObject"></h1> -->
        <div id="networkContainerElementDetails"></div>

        <div id="networkGraphTextContainer">
            <div id="networkGraphTextTop">
                <h2>Assoziativ-Ansicht</h2>
                <p style>Diese Ansicht visualisiert das ausgewählte Element im Kontext seiner Gruppen-Nachbarn sowie den
                    damit
                    verbundenen physischen Orten und assozierten Schlagworten.</p>
            </div>

            <div id="networkTextContainerBottom">
                <span style="font-size: 11px;">Bewegen Sie Ihre Maus über einzelne Objekte um deren Verbindungen zu
                    visualisieren.</span>
                <br><span style="font-size: 11px;">Nutzen Sie Ihr Mausrad um die Ansicht zu vergrößern.</span>
            </div>
        </div>
    </div>



    <div id="guideWrapper">
        <div class="guide">
            <svg xmlns="http://www.w3.org/2000/svg" class="mouse" width="40" height="58" viewBox="0 0 40 58">
                <g fill="#FFFFFF" fill-rule="evenodd">
                    <polygon fill-rule="nonzero" points="38.275 23 9.045 23 9.045 25 38.275 25" />
                    <polygon fill-rule="nonzero" points="22.667 10.139 22.667 23.5 24.667 23.5 24.667 10.139" />
                    <path fill-rule="nonzero"
                        d="M23.66,55.3612689 C31.1635892,55.3612689 37.2751259,49.7250913 37.2751259,42.8664131 L37.2751259,23.5804576 C37.2751259,16.7673171 31.1551908,11.1387311 23.66,11.1387311 C16.1648092,11.1387311 10.0448741,16.7673171 10.0448741,23.5804576 L10.0448741,42.9195424 C10.0448741,49.7326829 16.1648092,55.3612689 23.66,55.3612689 Z M23.66,57.3612689 C15.0958825,57.3612689 8.04487413,50.8763623 8.04487413,42.9195424 L8.04487413,23.5804576 C8.04487413,15.6236377 15.0958825,9.13873106 23.66,9.13873106 C32.2241175,9.13873106 39.2751259,15.6236377 39.2751259,23.5804576 L39.2751259,42.8664131 C39.2751259,50.8674505 32.2336144,57.3612689 23.66,57.3612689 Z" />
                    <path class="mouse-small-click" fill-rule="nonzero"
                        d="M6.57820747,20.1259121 C6.57820747,13.448275 14.2805453,6.82054924 21.9266667,6.82054924 L21.9266667,4.82054924 C13.2371205,4.82054924 4.57820747,12.2713911 4.57820747,20.1259121 L6.57820747,20.1259121 Z" />
                    <path class="mouse-large-click" fill-rule="nonzero"
                        d="M2.37820747,21.1259121 C2.37820747,11.5705676 12.1430608,2.63873106 22.9266667,2.63873106 L22.9266667,0.638731061 C11.0763312,0.638731061 0.378207465,10.4242229 0.378207465,21.1259121 L2.37820747,21.1259121 Z" />
                    <path class="mouse-click"
                        d="M9.64178282,24.1387311 C9.64178282,24.1387311 8.4864369,9.65181073 24.0836068,10.1513597 C24.0836068,14.1477515 24.0836068,23.6391821 24.0836068,23.6391821 L24.0836068,24.1387311 L9.64178282,24.1387311 Z" />
                </g>
            </svg>
            <p>Klicken und bewegen Sie die Maus horizontal und vertikal</p>
        </div>
    </div>


</body>

</html>