<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="max-age=0, no-cache, no-store, must-revalidate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Patrik Huebner, www.patrik-huebner.com">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

    <style>
        html,
        body {
            background: #000;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>

    <!-- VERSION INFO -->
    <div id="versionInfo">
        <%= htmlWebpackPlugin.options.title %>. Copyright &copy; 2020 <a href="https://www.patrik-huebner.com"
                target="_blank">Patrik H&uuml;bner</a><br>
            Version: <span id="hashValue"></span>
    </div>


    <!-- HORIZONTAL TIMELINE CONTAINER -->
    <div id="horizontalTimeline"></div>

    <!-- ZOOM CONTROL OVERLAY -->
    <div id="zoomControls">
        <div id="zoomIn"><img src="/assets/icons/search-plus.svg" alt="Zoom in" /></div>
        <div id="zoomOut"><img src="/assets/icons/search-minus.svg" alt="Zoom out" /></div>
    </div>

    <div id="groupSegmentation">
        <h3>Gruppen-Segmentierung</h3>
        <div id="removeAllSelections">× Gesamte Auswahl entfernen</div>
        <span>Sie können die unten stehenden Gruppierungen durch ankreuzen aktivieren. Dies segmentiert die Einträge
            des Zeitstrahls in separate visuelle Bereiche.</span>
        <div id="groupSegmentationConatiner">
            <ul>
            </ul>
        </div>
    </div>

</body>

</html>