/*
MOBILE VIEW: LANDSCAPE
*/
@media screen and (max-height: 500px) and (orientation:landscape) {
    #viewportTooSmall {
        display: flex;
    }
}


/*
MOBILE VIEW: PORTRAIT
*/
@media screen and (max-width: 640px) {
    #viewportTooSmall {
        display: flex;
    }
}


/*
TABLETS / IPADS: PORTRAIT
*/
@media screen and (max-width: 768px) {
    #viewportTooSmall {
        display: flex;
    }
}


/*
TABLETS / IPADS: LANDSCAPE
*/
@media screen and (max-width: 1024px) {
}


/*
WIDESCREEN ABOVE 1280px WIDTH
*/
@media screen and (min-width: 1280px) {
}