/* -- GENERAL
  --------------------------------------------- */

html {
  background: #f5f5f5;
}

body {
  background: #f5f5f5;
  margin: 0px;
  overflow: hidden;
  font-family: 'Roboto';
  user-select: none;
}

#versionInfo {
  position: absolute;
  font-family: 'Roboto';
  font-size: 10px;
  color: #000;

  bottom: 30px;
  right: 30px;
}

#versionInfo a,
#versionInfo a:visited {
  color: #000;
}

#versionInfo a:hover {
  text-decoration: none;
}


/* -- UI STYLINGS
  --------------------------------------------- */

#zoomControls {
  position: absolute;
  top: 90px;
  left: 20px;
}

#zoomControls div {
  width: 50px;
  height: 50px;
  background: #000;
  cursor: pointer;
  border-radius: 50%;
  margin-bottom: 10px;
}

#zoomControls div img {
  width: 25px;
  margin: 13px 0 0 13px;
}

#zoomControls div:hover {
  opacity: 0.8;
}


/* -- HORIZONTAL TIME LINE STYLING
  --------------------------------------------- */

/* Make objects have the correct size in time and not match the width of the internal text */
.vis-item .vis-item-overflow {
  overflow: visible;
}

.vis-labelset .vis-inner {
  font-weight: bold !important;
}

.vis-selected {
  border-color: #cfd8f3 !important;
  background: #cfd8f3 !important;
}
/* .vis-selected.vis-point {
  border-color: #cfd8f3 !important;
  background: rgba(207,216,243,0.3) !important;
} */

.vis-point .vis-selected {
  border-color: #000 !important;
}

.vis-item {
  background: #d2d2d2;
}

.vis-item.vis-range {
  border: 1px solid #d2d2d2;
}

.vis-item {
  border-color: #000;
}



/* -- TOOLTIPS (TIPPY.JS-CONNECTION)
  --------------------------------------------- */


.tippy-popper {
  opacity: 0.8 !important;
}

.tooltipTitle {
  margin: 0;
  padding: 0;
}

.tooltip {
  padding: 0;
  list-style-type: none;
}

.tooltip li {
  margin-bottom: 20px;
  list-style: none;
}

.locationIcon {
  width: 12px;
  height: 12px;
  background: url(~iconAssets/map-marker-alt.svg) no-repeat;
  display: inline-block;
  margin: 0 2px 0 1px;
}

.timeIcon {
  width: 12px;
  height: 12px;
  background: url(~iconAssets/clock.svg) no-repeat;
  display: inline-block;
}